* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --img-width-default: 200px;
    --img-border-default: 1px solid black;
    --img-padding-default: 2px;
    --aside-border-default: 1px solid #000;

}

main {
    max-width: 840px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    float: right;
    width: var(--img-width-default);
    height: auto;
    border: var(--img-border-default);
    padding: var(--img-padding-default);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside img {
    width: var(--img-width-default);
    height: auto;
    border: var(--img-border-default);
    padding: var(--img-padding-default);
}

footer {
    margin-top: 15px;
    border-top: var(--aside-border-default);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 78px;
    color: #000
}